<!DOCTYPE HTML>
<html>
	<head>
		<title>Parkinson Diary</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Parkinson Diary</a></h1>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Parkinson Diary</h2>
							<p>파킨슨 병 환자의 모니터링을 위한 웹 사이트 입니다.</p>
                            <div class="login-form">
                                <form>
                                  <input type="text" name="email" class="text-field" placeholder="아이디" style="margin : 0px auto;margin-bottom: 10px; width:300px;height:30px;font-size:15px;">
                                  <input type="password" name="password" class="text-field" placeholder="비밀번호"style="margin : 0px auto;margin-bottom: 10px;width:300px;height:30px;font-size:15px;">
                                  <input type="submit" value="로그인" class="submit-btn">
								  <input type="button" value="회원가입" class="btn" href="memberForm.html">
								</form>
                              </div>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">JSY8869</a></li>
						</ul>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>