<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Parkinson Diary</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link th:href="@{/css/main.css}" rel="stylesheet"/>
		<noscript><link rel="stylesheet" th:href="@{/css/noscript.css}"/></noscript>
	</head>
	<body class="landing is-preload">

	<!-- Page Wrapper -->
		<div id="page-wrapper">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a th:href="@{/}">Parkinson Diary</a></h1>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Parkinson Diary</h2>
					<p>파킨슨 병 환자의 모니터링을 위한 웹 사이트 입니다.</p>
					<div class="login-form">
						<div style="text-align: center">
							<form action="/login" th:action method="post">
								<label for="identifier">로그인 ID</label>
								<input type="text" name="identifier" id="identifier" class="text-field" placeholder="아이디">
								<label for="password">비밀번호</label>
								<p><input type="password" name="password" id="password" class="text-field" placeholder="비밀번호"></p>
								<p th:if="${exception}" class="fieldError" th:text="${exception}"></p>
								<button type="submit" class="submit-btn">로그인</button>
								<button type="button" class="btn" th:onclick="|location.href='@{/register}'|">회원 가입</button>
							</form>
						</div>
					  </div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">JSY8869</a></li>
				</ul>
			</footer>
		</div>
	<!-- Scripts -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.scrolly.min.js}"></script>
	<script th:src="@{/js/jquery.scrollex.min.js}"></script>
	<script th:src="@{/js/browser.min.js}"></script>
	<script th:src="@{/js/breakpoints.min.js}"></script>
	<script th:src="@{/js/util.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	</body>
</html>