# npm
node_modules
package-lock.json
*.log
*.gz

### WEB STORM ###
.idea

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# env
**.env

# typescript
dist

# FCM
parkinson-diary-firebase-adminsdk.json