* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
  }
   
  body {
    margin: 0;
    background-color: #1BBC9B;
  }
   
  .login-form {
      width: 50px;
      background-color: #EEEFF1;
      margin-top: 20px;
      padding: 10px;
      text-align: center;
      
  }
   
  .text-field {
        font-size: 14px;
        padding: 10px;
        border: none;
        width: 260px;
        margin-bottom: 10px;
   
  }
   
  .submit-btn {
    font-size: 14px;
    border: none;
    padding: 10px;
    width: 260px;
    background-color: #1BBC9B;
    margin-bottom: 30px;
    color: white;
  }
   
  .links {
      text-align: center;
  }
   
  .links a {
    font-size: 12px;
    color: #9B9B9B;
  }