<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Parkinson Diary</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link th:href="@{/css/main.css}" rel="stylesheet"/>
	<noscript><link rel="stylesheet" th:href="@{/css/noscript.css}"/></noscript>
</head>
<body class="landing is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" class="alt">
		<h1><a th:href="@{/static}">Parkinson Diary</a></h1>
		</nav>
	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>Parkinson Diary</h2>
			<p th:text="${errorCode}"></p>
			<ul class="actions special">
				<li><a th:href="@{/patient/patientList}" class="button primary">Home</a></li>
			</ul>
		</div>
		<a href="#one" class="more scrolly">Learn More</a>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<ul class="copyright">
			<li><a href="https://sev.severance.healthcare/sev/index.do">&copy; severance</a></li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</footer>
</div>
<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>