<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Parkinson Diary</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link th:href="@{/css/main.css}" rel="stylesheet"/>
		<noscript><link rel="stylesheet" th:href="@{/css/noscript.css}"/></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
				<header id="header">
					<h1><a th:href="@{/}">Parkinson Diary</a></h1>
				</header>

			<!-- Main -->
				<article id="main">
					<header>
						<h2>Parkinson Diary</h2>
						<p>파킨슨 병 환자의 모니터링을 위한 웹 사이트 입니다.</p>
					</header>
					<section class="wrapper style5">
						<div class="inner">
							<section>
								<h2>환자 리스트</h2>
								<form action="patient/patientList" th:action method="post">
									<span>
										<input type="text" name="keyword" id="keyword" placeholder="초성 검색" style="display: inline"/>
										<button class="button" type="submit" id="환자 검색">검색</button>
										<button class="button" type="button" th:onclick="|location.href='@{/patient/add}'|">환자 추가</button>
									</span>
								</form>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Patient Name</th>
												<th>Doctor Name</th>
												<th>Patient Number</th>
											</tr>
										</thead>
										<tr th:each="patient : ${patients}">
											<td> <a th:href="@{|/patient/${patient.patientNum}|}" th:text="${patient.name}">환자명</a></td>
											<td th:text="${patient.user.username}">담당 의사명</td>
											<td th:text="${patient.patientNum}">10</td>
										</tr>
									</table>
									<th:block th:if="${keyword == null}" th:each="page:${#numbers.sequence(startPage,endPage)}">
										<a th:if="${page != nowPage}" th:href="@{/patient/patientList(page=${page-1})}" th:text ="${page}"></a>
										<strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>
									</th:block>
								</div>
							</section>
						</div>
					</section>
				</article>
			</div>

		<!-- Scripts -->
			<script th:src="@{/js/jquery.min.js}"></script>
			<script th:src="@{/js/jquery.scrollex.min.js}"></script>
			<script th:src="@{/js/jquery.scrolly.min.js}"></script>
			<script th:src="@{/js/browser.min.js}"></script>
			<script th:src="@{/js/breakpoints.min.js}"></script>
			<script th:src="@{/js/util.js}"></script>
			<script th:src="@{/js/main.js}"></script>

	</body>
</html>