<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Parkinson Diary</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link th:href="@{/css/main.css}" rel="stylesheet"/>
	<noscript><link rel="stylesheet" th:href="@{/css/noscript.css}"/></noscript>
</head>
<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
				<header id="header">
					<h1><a th:href="@{/}">Parkinson Diary</a></h1>
					<nav id="nav">
						<ul>
							<li class="special">
								<a href="#menu" class="menuToggle"><span>Menu</span></a>
								<div id="menu">
									<ul>
										<li><a th:href="@{/}">Home</a></li>
										<li><a th:href="@{/patient/patientList}">user list</a></li>
										<li><a th:href="@{/register}">Sign Up</a></li>
										<li><a th:href="@{/login}">Log In</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</nav>
				</header>

					<section id="banner">
						<div class="inner">
							<h2>환자 정보 수정</h2>
							<div class="login-form">
								<form action="/patient/{id}/edit" th:action th:object="${form}" method=post>

									<label>환자 키</label>
									<input type="text" name="id" readonly th:value="${patient.id}">

									<label>환자 이름 초성</label>
									<input type="text" id="name" name="name" th:value="${patient.name}" class="form-control" placeholder="환자 초성 입력">
									<div class="field-error" th:errors="*{name}"></div>

									<label>담당 의사</label>
									<select th:name="inChargeUser" style=margin-bottom:10px>
										<option th:each="user : ${users}" th:value="${user.getKey()}" th:text="${user.getValue()}">의사명</option>
									</select>

									<span>
										<button class="button" id="update" name="buttonValue" value="update">수정하기</button>
										<button class="button" id="delete" name="buttonValue" value="delete" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
										<button class="button" type="button" th:onclick="|location.href='@{/patient/patientList}'|">취소</button>
									</span>
								</form>
							</div>
						</div>
					</section>
					

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">JSY8869</a></li>
						</ul>
					</footer>
			</div>


		<!-- Scripts -->
		<script th:src="@{/js/popup.js}"></script>
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/jquery.scrollex.min.js}"></script>
		<script th:src="@{/js/jquery.scrolly.min.js}"></script>
		<script th:src="@{/js/browser.min.js}"></script>
		<script th:src="@{/js/breakpoints.min.js}"></script>
		<script th:src="@{/js/util.js}"></script>
		<script th:src="@{/js/main.js}"></script>
	</body>
</html>