<!DOCTYPE HTML>
<html>
	<head>
		<title>Parkinson Diary</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
				<header id="header">
					<h1><a href="index.html">Parkinson Diary</a></h1>
					<nav id="nav">
						<ul>
							<li class="special">
								<a href="#menu" class="menuToggle"><span>Menu</span></a>
								<div id="menu">
									<ul>
										<li><a href="index.html">Home</a></li>
										<li><a href="userList.html">user list</a></li>
										<li><a href="doctorForm.html">Sign Up</a></li>
										<li><a href="loginForm.html">Log In</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</nav>
				</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Parkinson Diary</h2>
							<p>새로운 환자의 정보를 추가하는 화면입니다.</p>
								
							<div class="login-form">
                                <form>
									환자 이름 초성
									<input type="text" name="user_name" placeholder="환자 초성 입력" style="margin : 0px auto;margin-bottom: 10px; width:300px;height:30px;font-size:15px;">
									<br>
									환자 이름 초성 확인
									<input type="text" name="user_name_check" placeholder="환자 초성 재입력" style="margin : 0px auto;margin-bottom: 10px; width:300px;height:30px;font-size:15px;">
									담당 의사 지정
									<select name="doctors" id="doctor-select" style="margin : 0px auto;margin-bottom: 10px; width:300px;height:30px;font-size:15px;">
										<option value="doctor_name">정세영</option>
										<option value="doctor_name">이채민</option>
										<option value="doctor_name">김기용</option>
									</select>
									<span>
										<a class="button" type="submit" name="" value="환자 추가">환자 추가</a>
										<a class="button" href="userList.html">취소</a>
									</span>
								</form>
							</div>
						</div>
					</section>
					

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">JSY8869</a></li>
						</ul>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>