<!DOCTYPE HTML>
<html>
	<head>
		<title>Parkinson Diary</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
				<header id="header">
					<h1><a href="../error/5xx.html">Parkinson Diary</a></h1>
				</header>

				<!-- Main -->
					<article id="main">
						<section class="wrapper style5">
							<div class="inner">

								<section>
									<h4>ㅈㅅㅇ 설문조사 정보</h4>
									<div class="table-wrapper">
<div>
    <form>
        <input type="date" value="2022-07-21" style="color: black;">
        <input type="submit" value="날짜 선택">
    </form>
</div>										
<div class="slds-p-top--medium">
    <div>
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="quiz-graph">
            <defs>
                <pattern id="grid" width="50" height="50" patternUnits="userSpaceOnUse">
                    <path d="M 50 0 L 0 0 0 50" fill="none" stroke="#e5e5e5" stroke-width="1"></path>
                </pattern>
            </defs>
            <rect x="50" width="calc(100% - 200px)" height="300px" fill="url(#grid)" stroke="gray"></rect>

            <g class="label-title">
                <text x="-160" y="5" transform="rotate(-90)">Participants</text>
            </g>
            <g class="label-title">
                <text x="50%" y="350">Questions</text>
            </g>   
            <g class="x-labels">
				<text x="50" y="320">08:00</text>
                <text x="150" y="320">10:00</text>
                <text x="250" y="320">12:00</text>
                <text x="350" y="320">14:00</text>
                <text x="450" y="320">16:00</text>
                <text x="550" y="320">18:00</text>
                <text x="650" y="320">20:00</text>
                <text x="750" y="320">취침</text>
            </g>
            <g class="y-labels">
                <text x="42" y="25">좋음</text>   
                <text x="75" y="95">약간 좋음</text>
                <text x="42" y="155">중간</text>   
                <text x="75" y="215">약간 나쁨</text>
                <text x="42" y="300">나쁨</text>
            </g>
            <linearGradient id="grad" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color:rgba(99,224,238,.5);stop-opacity:1"></stop>
                <stop offset="100%" style="stop-color:white;stop-opacity:0"></stop>
            </linearGradient>
            <polyline fill="url(#grad)" stroke="#34becd" stroke-width="0" points="
            50,300
            51,10
            150,100
            250,80
            350,160
            450,100
            550,100
            650,150
            750,200
            750,300
            "></polyline>

            <polyline fill="none" stroke="#34becd" stroke-width="2" points="
            50,10
            150,100
            250,80
            350,160
            450,100
            550,100
            650,150
            750,200
            "></polyline>
            <g>
                <circle class="quiz-graph-start-dot" cx="50" cy="10" data-value="7.2" r="6"></circle>
                <circle class="quiz-graph-dot" cx="150" cy="100" data-value="8.1" r="6" q-title="Q1" answer-count="200" percent-value="66%"></circle>
                <circle class="quiz-graph-dot" cx="250" cy="80" data-value="7.7" r="6" q-title="Q2" answer-count="220" percent-value="73%"></circle>
                <circle class="quiz-graph-dot" cx="350" cy="160" data-value="6.8" r="6" q-title="Q3" answer-count="140" percent-value="46%"></circle>
                <circle class="quiz-graph-dot" cx="450" cy="100" data-value="6.7" r="6" q-title="Q4" answer-count="200" percent-value="66%"></circle>
                <circle class="quiz-graph-dot" cx="550" cy="100" data-value="6.7" r="6" q-title="Q5" answer-count="200" percent-value="66%"></circle>
                <circle class="quiz-graph-dot" cx="650" cy="150" data-value="6.7" r="6" q-title="Q6" answer-count="150" percent-value="50%"></circle>
                <circle class="quiz-graph-dot" cx="750" cy="200" data-value="6.7" r="6" q-title="Complited Quiz" answer-count="100" percent-value="33%"></circle>
            </g>
        </svg>
    </div>
</div>

<!-- Main -->
<article id="main">
    <section class="wrapper style5">
        <div class="inner">

            <section>
                <h4>ㅈㅅㅇ 가속도 센서 기반 운동 정보</h4>
                <div class="table-wrapper">

<div class="slds-p-top--medium">
    <div>
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="quiz-graph">
            <defs>
                <pattern id="grid" width="50" height="50" patternUnits="userSpaceOnUse">
                    <path d="M 50 0 L 0 0 0 50" fill="none" stroke="#e5e5e5" stroke-width="1"></path>
                </pattern>
            </defs>
            <rect x="50" width="calc(100% - 200px)" height="300px" fill="url(#grid)" stroke="gray"></rect>

            <g class="label-title">
                <text x="-160" y="5" transform="rotate(-90)">Participants</text>
            </g>
            <g class="label-title">
                <text x="50%" y="350">Questions</text>
            </g>   
            <g class="x-labels">
				<text x="50" y="320">08:00</text>
                <text x="150" y="320">10:00</text>
                <text x="250" y="320">12:00</text>
                <text x="350" y="320">14:00</text>
                <text x="450" y="320">16:00</text>
                <text x="550" y="320">18:00</text>
                <text x="650" y="320">20:00</text>
                <text x="750" y="320">취침</text>
            </g>
            <g class="y-labels">
                <text x="70" y="25">활동적</text>   
                <text x="100" y="95">약간 활동적</text>
                <text x="70" y="155">중간</text>   
                <text x="120" y="215">약간 비활동적</text>
                <text x="80" y="300">비활동적</text>
            </g>
            <linearGradient id="grad" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color:rgba(99,224,238,.5);stop-opacity:1"></stop>
                <stop offset="100%" style="stop-color:white;stop-opacity:0"></stop>
            </linearGradient>
            <polyline fill="url(#grad)" stroke="#34becd" stroke-width="0" points="
            50,300
            51,10
            150,100
            250,80
            350,160
            450,100
            550,100
            650,150
            750,200
            750,300
            "></polyline>

            <polyline fill="none" stroke="#34becd" stroke-width="2" points="
            50,10
            150,100
            250,80
            350,160
            450,100
            550,100
            650,150
            750,200
            "></polyline>
            <g>
                <circle class="quiz-graph-start-dot" cx="50" cy="10" data-value="7.2" r="6"></circle>
                <circle class="quiz-graph-dot" cx="150" cy="100" data-value="8.1" r="6" q-title="Q1" answer-count="200" percent-value="66%"></circle>
                <circle class="quiz-graph-dot" cx="250" cy="80" data-value="7.7" r="6" q-title="Q2" answer-count="220" percent-value="73%"></circle>
                <circle class="quiz-graph-dot" cx="350" cy="160" data-value="6.8" r="6" q-title="Q3" answer-count="140" percent-value="46%"></circle>
                <circle class="quiz-graph-dot" cx="450" cy="100" data-value="6.7" r="6" q-title="Q4" answer-count="200" percent-value="66%"></circle>
                <circle class="quiz-graph-dot" cx="550" cy="100" data-value="6.7" r="6" q-title="Q5" answer-count="200" percent-value="66%"></circle>
                <circle class="quiz-graph-dot" cx="650" cy="150" data-value="6.7" r="6" q-title="Q6" answer-count="150" percent-value="50%"></circle>
                <circle class="quiz-graph-dot" cx="750" cy="200" data-value="6.7" r="6" q-title="Complited Quiz" answer-count="100" percent-value="33%"></circle>
            </g>
        </svg>
    </div>
</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>